.navbar .nav-item .nav-link{
    color: white;
    transition: .1s;
}

.navbar .nav-item .nav-link:hover{
    color: white; 
    text-decoration-line: overline;
    transform: scale(1.1);
    transition: .1s;
    margin-left: 25px;
}
.ativo{
    margin-left: 25px;
    font-weight: 500;
    transform: scale(1.1);
    text-decoration-line: overline;
}