body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.fundo {
    background-image: url(../rsc/fundo-index.png);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}
.conteudo {
    position: relative;
    background-color: white;
    z-index: 1;
    height: 1000px;
}
.imagem{
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 42%;
}
