.enunciadoResposta{
    width: 100%;
    word-wrap: break-word;
    background-color: #3f4194;
    color: #fff;
    transition: 0.5s;
    padding: 10px;
    border-radius: 2px;
}
.enunciadoResposta:hover{
    width: 100%;
    word-wrap: break-word;
    background-color: #27285e;
    color: #fff;
    transition: 0.5s;
}

.enunciadoResposta:active{
    width: 100%;
    word-wrap: break-word;
    background-color: green;
    color: #fff;
    transition: 0.5s;
    transform: translateX(50px);
}
.enunciadoResposta:target{
    width: 100%;
    word-wrap: break-word;
    background-color: green;
    color: #fff;
    transition: 0.5s;
    transform: translateX(50px);
}