.card{
    border: transparent;
    width: 225px;
}
.card .card-header{
    background-color: transparent;
}
.card .card-img-top{
    height: 300px;
    filter: grayscale(0%);
    transition: .5s;
}
/* .card .card-img-top:hover{
    transform: scale(1.1);
    filter: grayscale(100%);
    transition: .5s;
} */
.card {
  
    transition: .5s;
}
.card:hover .card-img-top{
    transform: scale(.9);
    filter: grayscale(100%);
    
    transition: .5s;
    
}

.card:hover{
    cursor:pointer;
}

.card h4:hover{
    transform: scale(0.8);
    transition: .3s;
}

.card h4{
    transition: .3s;
}

.livros{
    padding-top: 150px;
}