
body , html{
    height: 100%;
}

.rodape{
    position: relative;
    bottom: 0;
    background-color: #3f4194;
}

footer a i{
    width: 70px;
    font-size: 50px;
    color: #fff;
    transition: 0.5s;
}
footer img{
    filter: invert(0%);
    transition: 0.5s;
}
footer img:hover{
    filter: invert(100%);
    transition: 0.5s;
}
 .f:hover{
    color: #0000ff;
    transition: 0.5s;
}

.i:hover{
    color: #ff0066;
    transition: 0.5s;
}

.y:hover{
    color: #ff0000;
    transition: 0.5s;
}